$prussian-blue: rgba(23, 55, 83, 1);
$carolina-blue: rgba(109, 174, 219, 1);
$celestial-blue: rgba(40, 146, 215, 1);
$charcoal: rgba(27, 67, 83, 1);
$bice-blue: rgba(29, 112, 162, 1);

$font-size: 20px;
$border-radius: 10px;
